
.container {
	max-width: 1200px
}

.row {
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
}

.btns{
	width: 180px;
	margin-left: 20px;
}
.btns span{
	margin-left: 15px;
}

#info_table {
	display: none;
}