<!doctype html>
<html ng-app="purchaseApp">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

    </head>
<body>

    <div class="container">
    <div id='x' class="app" ng-app='purchaseApp' ng-controller="purchaseController">

        <div class="page-header" >
            <h1> Список товаров </h1>
            <button><a href="#" ng-click='addTable()'>Add table</a></button>
        </div>

        <div id="y" class="panel">

            <form>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                  <input type="text" class="form-control" placeholder="Search" ng-model="searchTest">
                </div>
              </div>
            </form> 
            

            <div id="purch_table">
                <div class="form-inline ">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input class="form-control" ng-model="text" placeholder = "Название" />
                        </div>
                    </div>  
                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="number" class="form-control" ng-model="price" placeholder="Стоимость" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="number" class="form-control" ng-model="quantity" placeholder="Количество" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button class="btn btn-default" ng-click="addItem(text, name, price, quantity)">Добавить</button>
                        </div>
                    </div>
                </div>

                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th><a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">Идентификатор
                                <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th><a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">Название
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th><a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">Стоимость
                                <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th><a href="#" ng-click="sortType = 'quantity'; sortReverse = !sortReverse">Количество
                                <span ng-show="sortType == 'quantity' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'quantity' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr onclick="blockValue()" ng-repeat="item in list.items | orderBy:sortType:sortReverse | startFrom: startingItem() | limitTo: itemsPerPage | filter:searchTest">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
            

                <div class="row">
                    <div class="btns">
                    <button class="pull-left btn btn-primary btn-sm" ng-disabled="firstPage()" ng-click="pageBack()">Назад</button>
                    <span>{{currentPage+1}} из {{numberOfPages()}}</span>
                    <button class="pull-right  btn btn-primary btn-sm" ng-disabled="lastPage()" ng-click="pageForward()">Вперед</button>
                    </div>
                </div>

         
                <div id="info_table" class="alert alert-info" ng-repeat="item in list.items" >
                    <p>Идентификатор: {{item.id}}</p>
                    <p>Название: {{item.name}}</p>
                    <p>Стоимость: {{item.price}}</p>
                    <p>Количество: {{item.quantity}}</p>
                </div>  
            </div>          

        </div>


<!--         <div class="row">
            <div class="btns">
            <button class="pull-left btn btn-primary btn-sm" ng-disabled="firstPage()" ng-click="pageBack()">Назад</button>
            <span>{{currentPage+1}} из {{numberOfPages()}}</span>
            <button class="pull-right  btn btn-primary btn-sm" ng-disabled="lastPage()" ng-click="pageForward()">Вперед</button>
            </div>
        </div>

 
        <div id="info_table" class="alert alert-info" ng-repeat="item in list.items" >
            <p>Идентификатор: {{item.id}}</p>
            <p>Название: {{item.name}}</p>
            <p>Стоимость: {{item.price}}</p>
            <p>Количество: {{item.quantity}}</p>
        </div> -->

    </div>
    </div>


    <script src='libs/jquery/dist/jquery.min.js'></script>
    <script src="libs/angular/angular.min.js"></script>

    <script src='js/app.js'></script>
</body>
</html>